We are trying to build a hackathon website. We have the html code of separate pages in the list {str(pages)} as well as the css design in {design}. 
Add a navbar to all of the pages to navigate between them and make any other refinements, perhaps according to the design. 
Output the html code in the same form and order that it was inputted, as a list of strings containing the html code. 

